
li:hover {
    color: #fff;
    text-shadow: 0 0 10px rgb(205, 248, 11), 0 0 20px rgba(166, 255, 0, 0.813);
    box-shadow: none;

}
.glow:hover {
    color: #fff;
    text-shadow: 0 0 20px rgba(146, 244, 8, 0.971), 0 0 60px rgba(0, 255, 150, 0.4);
    box-shadow: none;
}
.content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}
.content.visible {
    opacity: 1;
    transform: translateY(0);
}
.hexagon {
    box-shadow: 0 0 20px rgba(18, 219, 245, 0.971), 0 0 60px rgba(0, 255, 150, 0.4);
}

.main {
    overflow: auto;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 255, 149, 0.856), 0 0 60px rgba(0, 255, 150, 0.5);
}
